* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: white;
    box-shadow: 0px 8px 5px 0px rgba(230, 210, 210, 0.75);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 30px;
}

.header .top-left {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}

.header .top-right {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header input {
    height: 25px;
    flex: 1;
    border-radius: 2em;
    grid-column: 2/-1;
    margin-right: auto;
    background-color: #a89eff32;
    border: none;
}

.header img {
    height: 20px;
    margin: 10px;
}

.top-right p {
    font-size: .8rem;
}

.top-right #user-icon {
    height: 40px;
}

.header .bottom-left {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
}

.header .bottom-right {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

.bottom-left #user-icon {
    height: 50px;
}

.header button {
    height: 30px;
    width: 90%;
    background-color: #34d399;
    border-radius: 2em;
    border-style: none;
}

.sidebar {
    grid-row: 1/-1;
    color: black;
    background-color: #a89eff;
}

.logo {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 5px 20px;
    font-size: 1.3rem;
}

.logo img {
    height: 60px;
}

.dash-directory {
    display: grid;
    margin-top: 30px;
}

.dash-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    font-size: 1rem;
}

#settings-icon {
    margin-top: 60px;
}

.dash-icon {
    height: 25px;
    margin-right: 20px;
}

.container {
    background-color: #a89eff32;
    padding: 25px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: .5fr 10fr;
}

.container .big-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 10px;
}

.container .small-title {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin-bottom: 10px;
    margin-left: 15px;
}

.big-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    grid-row: 2/4;
}

.big-card {
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(200, 200, 200, 0.45);
    font-size: .8rem;
    font-weight: 100;
    border-left: 5px solid #34d399;
    padding: 20px;
    display: grid;
}

.big-card img {
    height: 20px;
    margin-left: 15px;
}

.big-card .icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.small-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 15px;
    gap: 25px;
    align-items: end;
}

.announcements {
    display: grid;
    grid-template-columns: 1fr;
}

.small-card {
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(200, 200, 200, 0.45);
    font-size: .7rem;
    font-weight: 100;
    padding: 20px;
    display: grid;
    height: 100px;
}

.meet-peeps {
    margin-bottom: 10px;
}

.name-plate {
    background-color: white;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px rgba(200, 200, 200, 0.45);
    font-size: .8rem;
    font-weight: 100;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.name-plate img {
    height: 40px;
}